@media screen and (max-width: 768px) {
    input, textarea {
        font-size: 1rem;
    }
    select {
        height: 34px;
        color: black;
    }
    img {
        width: 100%;
    }
    .s1 .btn_action {
        bottom: 20px;
        left: calc(50% - 98px);
    }
    .s2 {
        overflow: hidden;
    }
    .s2BG {
        width: 120%;
    }
    .s2bag {
        width: 120px;
    }
    .s3 {
        margin-top: -20px;
        overflow: hidden;
    }
    .s3BG {
        width: 120%;
        margin-left: -9%;
    }
    .s3ad01 {
        width: 60px;
        left: 30px;
        bottom: 100px;
    } 
    .s3ad02 {
        width: 90px;
        left: 70px;
        bottom: 10px;
    }  
    .s3ad03 {
        width: 80px;
        left: 80px;
        bottom: 160px;
    }  
    .s3ad04 {
        width: 120px;
        left: 130px;
        bottom: 30px;
    }  
    .s3photoframe {
        width: 150px;
    }   
    .btn_action {
        scale: .6;
    }
    .mainform {
        padding: 2rem 0 4rem 0;
    }
    .mainform01 {
        width: 80%;
    }
    .preorderForm {
        width: 100%;
        padding: 2rem 1rem;
    }
    .preorderForm .form-inline {
        grid-template-columns: repeat(1, 1fr);
    }
    .t-row3col {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 0 4rem;
        margin-bottom: 4rem;
    }
    .t-row {
        gap: 1rem;
    }
    .mainform_logo {
        width: 120px;
    }
    .s4 {
        width: 100%;
        overflow: hidden;
        display: grid;
        justify-items: center;
    }
    .s4 img {
        width: 120%;
    }
    .s5 {
        margin-top: -2px;
    }
    .s5, .s6, .s7 {
        overflow-x: scroll;
    }
    .boxSlide {
        width: 400%;
    }
    .boxSlide .box {
        margin-left: -1px;
    }
    .btn_action {
        width: 197px;
        height: 42px;
        background-size: 100%;
        border-radius: 12px;
        animation: pentalsL 2s ease-in-out infinite;
    }
    .pentalL {
        width: 16px!important;
    }
    
    .shipping .form-group {
        padding: 0;
        border: 0;
        border-radius: 0;
    }
    .t-row3col div:nth-child(2) {
        padding-top: 60px;
    }
}
@media screen and (max-width: 430px) {
    .btn-form .btn_action {
        width: 338px;
        height: 72px;
        background-size: 100%;
    }
    .s5 .boxSlide .box:nth-child(1) .btn_action {
        left: 80px;
        bottom: 50px;
    }
    .s5 .boxSlide .box:nth-child(2) .btn_action {
        left: 100px;
        bottom: 50px;
    }
    .s5 .boxSlide .box:nth-child(3) .btn_action {
        left: 222px;
        bottom: 50px;
    }
    .s6 .boxSlide .box:nth-child(1) .btn_action {
        left: 220px;
        bottom: 50px;
    }
    .s6 .boxSlide .box:nth-child(2) .btn_action {
        left: 220px;
        bottom: 40px;
    }
    .s6 .boxSlide .box:nth-child(3) .btn_action {
        left: 222px;
        bottom: 50px;
    }
    .s7 .boxSlide .box:nth-child(1) .btn_action {
        left: 224px;
        bottom: 60px;
    }
    .s7 .boxSlide .box:nth-child(2) .btn_action {
        left: 270px;
        bottom: 160px;
    }
    .s7 .boxSlide .box:nth-child(3) .btn_action {
        left: 155px;
        bottom: 160px;
    }
}
@media screen and (max-width: 393px) {
    .s5 .boxSlide .box:nth-child(1) .btn_action {
        left: 60px;
        bottom: 20px;
    }
    .s5 .boxSlide .box:nth-child(2) .btn_action {
        left: 76px;
        bottom: 50px;
    }
    .s5 .boxSlide .box:nth-child(3) .btn_action {
        left: 190px;
        bottom: 50px;
    }
    .s6 .boxSlide .box:nth-child(1) .btn_action {
        left: 190px;
        bottom: 20px;
    }
    .s6 .boxSlide .box:nth-child(2) .btn_action {
        left: 188px;
        bottom: 40px;
    }
    .s6 .boxSlide .box:nth-child(3) .btn_action {
        left: 185px;
        bottom: 40px;
    }
    .s7 .boxSlide .box:nth-child(1) .btn_action {
        left: 188px;
        bottom: 50px;
    }
    .s7 .boxSlide .box:nth-child(2) .btn_action {
        left: 230px;
        bottom: 120px;
    }
    .s7 .boxSlide .box:nth-child(3) .btn_action {
        left: 140px;
        bottom: 160px;
    }
}

