@media screen and (max-width: 1440px) {
    .s3ad01 {
        left: 50px;
        bottom: 200px;
        width: 170px;
    }
    .s3ad02 {
        left: 180px;
        bottom: 0;
        width: 200px;
    }
    .s3ad03 {
        left: 200px;
        bottom: 300px;
        width: 200px;
    }
    .s3ad04 {
        left: 350px;
        bottom: 100px;
        width: 400px;
    }
    .s3photoframe {
        width: 500px;
    }
    .s5 .swiper-slide:nth-child(1) .btn_action {
        left: 200px;
        bottom: 150px;
    }
    .s5 .swiper-slide:nth-child(2) .btn_action {
        left: 250px;
        bottom: 150px;
    }
    .s5 .swiper-slide:nth-child(3) .btn_action {
        left: 550px;
        bottom: 150px;
    }
    .s6 .swiper-slide:nth-child(1) .btn_action {
        left: 570px;
        bottom: 150px;
    }
    .s6 .swiper-slide:nth-child(2) .btn_action {
        left: 560px;
        bottom: 150px;
    }
    .s6 .swiper-slide:nth-child(3) .btn_action {
        left: 560px;
        bottom: 150px;
    }
    .s7 .swiper-slide:nth-child(1) .btn_action {
        left: 490px;
        bottom: 220px;
    }
    .s7 .swiper-slide:nth-child(2) .btn_action {
        left: 680px;
        bottom: 350px;
    }
    .s7 .swiper-slide:nth-child(3) .btn_action {
        left: 490px;
        bottom: 400px;
    }
}

@media screen and (max-width: 768px) {
    input, textarea {
        font-size: 1rem;
    }
    select {
        height: 34px;
        color: black;
    }
    img {
        width: 100%;
    }
    .s1 .btn_action {
        bottom: 20px;
        left: calc(50% - 98px);
    }
    .s2 {
        overflow: hidden;
    }
    .s2BG {
        
    }
    .s2bag {
        width: 110px;
        bottom: 10px;
    }
    .s3 {
        margin-top: -20px;
        overflow: hidden;
    }
    .s3BG {
        
    }
    .s3ad01 {
        width: 60px;
        left: 30px;
        bottom: 100px;
    } 
    .s3ad02 {
        width: 90px;
        left: 70px;
        bottom: 10px;
    }  
    .s3ad03 {
        width: 80px;
        left: 80px;
        bottom: 160px;
    }  
    .s3ad04 {
        width: 120px;
        left: 130px;
        bottom: 30px;
    }  
    .s3photoframe {
        width: 150px;
    }   
    .btn_action {
        scale: .6;
    }
    .mainform {
        padding: 2rem 0 4rem 0;
    }
    .mainform01 {
        width: 80%;
    }
    .preorderForm {
        width: 100%;
        padding: 2rem 1rem;
    }
    .preorderForm .form-inline {
        grid-template-columns: repeat(1, 1fr);
    }
    .t-row3col {
        margin-bottom: 4rem;
    }
    .t-row {
        gap: 4rem;
        font-size: 12px;
    }
    .mainform_logo {
        width: 120px;
    }
    .s4 {
        width: 100%;
        overflow: hidden;
        display: grid;
        justify-items: center;
    }
    .s4 img {
        width: 120%;
    }
    
    .boxSlide {
        width: 400%;
    }
    .boxSlide .box {
        margin-left: -1px;
    }
    .btn_action {
        width: 197px;
        height: 42px;
        background-size: 100%;
        border-radius: 12px;
        animation: pentalsL 2s ease-in-out infinite;
    }
    .pentalL {
        width: 16px!important;
    }
    
    .shipping .form-group {
        padding: 0;
        border: 0;
        border-radius: 0;
    }
    .t-row3col div:nth-child(2) {
        padding-top: 60px;
    }
    .onlymobile {
        display: block;
    }
    .onlyweb {
        display: none;
    }
    .btn_action.onlymobile {
        bottom: 20px;
        left: calc(50% - 80px);
        z-index: 10;
    }
}
@media screen and (max-width: 430px) {
    .btn-form .btn_action {
        width: 338px;
        height: 72px;
        background-size: 100%;
    }
    .t-row3col {
        padding:0;
    }
    .mainform02a,
    .mainform02c {
        width: 90px;
    }
    .mainform02b {
        width: 160px;
    }
    .t-row3col div:nth-child(2) {
        padding-top: 44px;
    }
    .swiper-slide {
        display: flex;
    }
}

