@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
}
ul, li, ol {
    list-style-type: none;
}
button, input, a {
    border: none;
    outline: none;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
.btn_action {
    width: 394px;
    height: 84px;
    background: url(assets/button.png) center center no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    border-radius: 24px;
    transition: all ease-in-out .5s;
    position: relative;
}
.btn_action img {
    position: absolute;
    width: auto;
}
.btn_action:hover,
.btn_action:focus {
    animation: pentalsL 2s ease-in-out infinite;
}
.pentalL {
    right: -10px;
    top: 0px;
    animation: pentalsL 3s ease-in-out infinite;
    transition: all ease-in-out .5s;
}
.pentalM {
    right: 50px;
    bottom: -14px;
    animation: pentalsM 3s ease-in-out infinite;
    transition: all ease-in-out 1s;
}
.pentalS {
    left: 20px;
    top: -10px;
    animation: pentalsS 3s ease-in-out infinite;
    transition: all ease-in-out .2s;
}
@keyframes pentalsL {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px); 
    }
}
@keyframes pentalsM {
    0%, 100% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(-10px); 
    }
}
@keyframes pentalsS {
    0%, 100% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(10px); 
    }
}

.s1 {
    position: relative;
    display: flex;
}
.s1 .btn_action {
    position: absolute;
    bottom: 80px;
    left: calc(50% - 197px);
}
.s2 {
    position: relative;
    z-index: 2;
    display: flex;
}
.s2BG {
    width: 100%;
}
.s2bag {
    position: absolute;
    right: 20px;
    bottom: 0px;
    animation: pentalsL 2s ease-in-out infinite;
}
.s3 {
    position: relative;
    z-index: 1;
    margin-top: -80px;
}
.s3BG {
    width: 100%;
}
.s3ad {
    position: absolute;
}
.s3ad01 {
    left: 50px;
    bottom: 200px;
}
.s3ad02 {
    left: 200px;
    bottom: -50px;
    z-index: 2;
}
.s3ad03 {
    left: 300px;
    bottom: 400px;
    z-index: 1;
}
.s3ad04 {
    left: 700px;
    bottom: 150px;
    z-index: 1;
}
.s3photoframe {
    right: 0;
    top: 50%;
    width: 500px;
}
.s4 {
    margin-top: -8px;
}
.s5 {
    margin-top: -8px;
}
.s5 .boxSlide .btn_action,
.s6 .boxSlide .btn_action,
.s7 .boxSlide .btn_action {
    position: absolute;
    bottom: 200px;
}
.s5 .boxSlide .box:nth-child(1) .btn_action {
    left: 400px;
}
.s5 .boxSlide .box:nth-child(2) .btn_action {
    left: 460px;
}
.s5 .boxSlide .box:nth-child(3) .btn_action {
    left: 870px;
}
.s6 .boxSlide .box:nth-child(1) .btn_action {
    left: 870px;
}
.s6 .boxSlide .box:nth-child(2) .btn_action {
    left: 870px;
}
.s6 .boxSlide .box:nth-child(3) .btn_action {
    left: 870px;
}
.s7 .boxSlide .box:nth-child(1) .btn_action {
    left: 870px;
}
.s7 .boxSlide .box:nth-child(2) .btn_action {
    left: 1030px;
    bottom: 600px;
}
.s7 .boxSlide .box:nth-child(3) .btn_action {
    left: 650px;
    bottom: 600px;
}
.boxSlide {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.boxSlide .box {
    position: relative;
    display: grid;
}
.custom-scrollable {
    scrollbar-width: thin; 
    scrollbar-color: #FFF0D3 black;
}
.s8 {
    display: flex;
}
.mainform {
    background: url(assets/mainformBG.png) top center no-repeat #550607;
    padding: 10rem 0 5rem 0;
    background-size: 100% auto;
}
.mainformcontainer {
    display: grid;
    justify-items: center;
}
.t-row {
    display: grid;
    gap: 2rem;
    justify-items: center;
}
.t-row3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    padding: 5rem 0;
}

