@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
ul, li, ol {
    list-style-type: none;
}
img {
    max-width: 100%;
}
button, input, a {
    border: none;
    outline: none;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #111;
    width: 100%;
    position: relative;
}
.serif {
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}
.serif.m {
    font-weight: 500;
}
.serif.b {
    font-weight: 700;
}

/* 01 text style */
h1 {
    font-size: 5.25rem;
    letter-spacing: -2px;
}
h2 {
    font-size: 4rem;
    letter-spacing: -1px;
}
h4 {
    font-size: 2rem;
}
h6 {
    font-size: 1.25rem;
    font-weight: 400;
}
.up {
    text-transform: uppercase;
}



/* card style */
.card01 {
    display: inline-block;
}
.card01 img {
    border-radius: 1.5rem;
}
.card01 h4 {
    margin: 1.5rem 0 .5rem 0;
}
.card01 h6 {
    font-weight: 400;
    font-size: 1.25rem;
}
.card02 h6 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0 .5rem 0;
}
.card03 {
   display: flex;
   flex-direction: column; 
}
.card03 img {
    margin-bottom: 1rem;
}
.card03 h4 {
    margin-bottom: .5rem;
}
.card04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem;
    background: #DA7726;
    color: white;
    gap: 1rem;
}
.card04 strong {
    font-size: 64px;
    font-weight: 700;
}
.card04 span {
    font-size: 20px;
}
.card06 {
    background: #E39759;
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease, z-index 0.2s ease;
    position: relative;
    cursor: pointer;
    padding: 6rem 3rem;
    text-align: center;
}
.card06 h2 {
    font-size: 1.75rem;
}
.card06 h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

/* section */
.s01 {
    background: linear-gradient(#FEFBF2, #fff);
    position: relative;
    z-index: 1;
}
.s01 .container {
    display: grid;
    justify-items: center;
    text-align: center;
    max-width: 1360px;
    margin: 0 auto;
}
.s01 .logo {
    display: inline-block;
    padding: 6rem 0;
}
.s01 h2 {
    font-weight: 300;
    margin-bottom: 3rem;
}
.s01 h2 strong {
    font-weight: 700;
}
.s01 h6 {
    font-weight: 400;
    margin-bottom: 6rem;
    max-width: 720px;
}
.s02 {
    margin-top: -6rem;
}
.s03 {
    display: grid;
    justify-items: center;
}
.s03 .cardblock {
    display: grid;
    max-width: 1360px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem 0;
    width: 100%;
}
.s03 .action {
    z-index: 1;
}
.s04 {
    display: grid;
    justify-items: center;
    padding: 6rem 0;
}
.s04 .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1360px;
    padding: 7.5rem 0;
}
.s04 .main .block {
    display: grid;
    align-content: space-around;
    grid-template-rows: repeat(3, 1fr);
}
.s04 .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 6rem 0;
    max-width: 1360px;
}
.s04 .list .item {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
}
.s04 .list .item h4 {
    text-align: center;
    margin-bottom: 2rem;
}
.s04 .list .item h6 {
    text-align: center;
    font-weight: 400;
    display: inline-block;
}
.s04 .list .div2 {
    grid-column-start: 1;
    grid-row-start: 2;
}
.s04 .list .div3 {
    grid-column-start: 1;
    grid-row-start: 3;
    border-bottom: none;
}
.s04 .list .div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
}
.s04 .list .div5 {
    grid-column-start: 3;
    grid-row-start: 1;
}
.s04 .list .div6 {
    grid-column-start: 3;
    grid-row-start: 2;
    
}
.s04 .list .div7 {
    grid-column-start: 3;
    grid-row-start: 3;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.s04 .list .div7 p i {
    display: inline-block;
    width: 100%;
    padding-right: 1rem;
    border-right: 4px solid #DA7726;
}

.s05 .title {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.s05 .title h3 {
    font-weight: 400;
}
.s05 .storelist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    max-width: 1360px;
    margin: 0 auto;
}
.s05 .storelist .div6 {
    grid-column: span 3 / span 3;
}
.s05 .storelist .div6 img {
    height: 492px;
}
.s06 {
    display: grid;
    padding: 6rem 0;
}
.s06 .title {
    display: grid;
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}
.s06 .cate {
    display: flex;
    align-items: center;
    gap: 6rem;
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
}
.s06 .cate .categories h6 {
    display: inline-block;
}
.s06 .hozscroll {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-left: 10rem;
    padding-bottom: 2rem;
}
/* Phần track (nền thanh cuộn) */
.s06 .hozscroll::-webkit-scrollbar {
  height: 8px; /* độ cao của thanh cuộn ngang */
}

/* Phần background của thanh cuộn */
.s06 .hozscroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Phần thumb (thanh di chuyển) */
.s06 .hozscroll::-webkit-scrollbar-thumb {
  background: #DA7726;
}

/* Hover vào thumb */
.s06 .hozscroll::-webkit-scrollbar-thumb:hover {
  /* background: #666; */
  cursor: pointer;
}
.s07 .s0701 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}
.s07 .s0701 .div1 {
    grid-column: span 9 / span 9;
}
.s07 .s0701 .div2 {
    grid-column: span 3 / span 3;
    grid-column-start: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 0 1.5rem;
}
.s07 .s0701 .div2 h6 {
    font-weight: 400;
}
.s07 .s0702 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 3rem 1.5rem 6rem 1.5rem;
}
.s07 .s0702 .title {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.s08 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.s09 {
    margin: 0 auto;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding: 6rem 0;
}
.s09 h6 {
    max-width: 720px;
}
.s10 .title {
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
}
.s10 .title h4 {
    font-weight: 400;
}
.s10 .investment-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 48px;
    max-width: 1360px;
    margin: 6rem auto;
}
.s10 .investment-grid .card2 {
  transform: translateY(30%);
}
.s10 .investment-grid .card4 {
  transform: translateX(55%);
  margin-top: 6rem;
}
.s10 .investment-grid .card5 {
    margin-top: 6rem;
    grid-column-start: 3;
    transform: translateX(-55%);
}
.s10 .action {
    display: grid;
    justify-content: center;
    gap: 1rem;
}

.s11 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 6rem 0;
}
.s11 .l {
    padding: 6rem;
    display: grid;
    align-content: center;
    gap: 1.5rem;
}
.s11 .l ul li h6 {
    display: inline-block;
    padding: 2rem 0 2rem 3.5rem;
    background: url(assets/ic03-check.png) center left no-repeat;
}
.s12 .title {
    text-align: center;
    display: grid;
    gap: 1rem;
    margin-bottom: 6rem;
}
.s12 .title h4 {
    font-weight: 400;
}
.s12 .card-stack-horizontal {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 0;
  max-width: 1360px;
  width: 100%;
  margin: 100px auto;
  position: relative;
}
.s12 .card-stack-horizontal .card:not(:first-child) {
  margin-left: -50px;
}
.s12 .card-stack-horizontal .card:first-child {
  transform: scale(1.2);
  z-index: 5;
  background: #DA7726;
}
.s12 .card-stack-horizontal:hover .card:first-child {
  transform: scale(1);
  z-index: 1;
  background: #E39759;
}
.s12 .card-stack-horizontal .card:hover {
  transform: scale(1.2);
  z-index: 10;
  background: #DA7726;
}
.s12 .card-stack-horizontal .card:hover {
  box-shadow: 0 12px 32px rgba(0,0,0,0.2);
}
.s13 {
    display: grid;
    justify-items: center;
    max-width: 1360px;
    margin: 0 auto;
}
.s14 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 6rem 0;
}
.s14 .r {
    display: grid;
    gap: 3rem;
}
.s14 .r .title {
    display: grid;
    gap: 1.5rem;
    text-align: right;
}
.s14 .r ul li h6 {
    text-align: right;
    padding: 2rem 0;
    border-bottom: 1px solid #DA7726;
    position: relative;
}
.s14 .r ul li h6::before {
    position: absolute;
    top: calc(50% - 16px);
    left: 0;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #DA7726;
    letter-spacing: -2px;
}
.s14 .r ul li:nth-child(1) h6::before {
    content: "01";
}
.s14 .r ul li:nth-child(2) h6::before {
    content: "02";
}
.s14 .r ul li:nth-child(3) h6::before {
    content: "03";
}
.s15 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 4rem;
}
.s15 .l {
    padding: 2rem 4rem;
    display: grid;
    gap: 2rem;
}
.s15 .l .title {
    display: grid;
    gap: 1rem;
}
.s15 .l h4 {
    font-weight: 400;
}
.s15 .l form {
    display: grid;
    gap: 1.5rem;
}
.forminline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.s15 .l form .forminput {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.s15 .l form .forminput label span {
    color: red;
}
.s15 .l form .forminput input {
    font-size: 1rem;
    border-radius: 12px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all ease .3s;
}
.s15 .l form .forminput input:focus {
    background: rgba(218, 119, 38, 0.2);
    border: 1px solid rgba(218, 119, 38, 0.4);;
}
.s15 .l form .checkboxlist {
    display: grid;
    gap: 1rem;
}

/* component style (button, input) */
.lp_button {
    font-size: 2rem;
    display: inline-block;
    line-height: 100%;
    text-decoration: none;
    font-weight: 500;
    border-radius: 1rem;
    color: white;
    background: #DA7726;
    padding: 1.25rem 2.5rem;
    text-align: center;
    transition: all ease .3s;
}
footer {
    background: #111;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 4rem;
    justify-items: center;
    align-items: center;
}
footer .box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
footer .box a {
    color: #DA7726;
}
footer .box.h {
    padding-left: 56px;
    background: url(assets/ic02a.png) center left no-repeat;
    background-size: 40px;
}
footer .box.w {
    padding-left: 56px;
    background: url(assets/ic02b.png) center left no-repeat;
    background-size: 40px;
}

/* 
    HOVER & ANIMATION
*/
.lp_button:hover {
    opacity: .9;
    animation: animatescaleup 1s ease-in-out infinite;
}
@keyframes animatescaleup {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
@keyframes animatesflipup {
    0% {
    transform: rotateY(0deg) scale(1);
    }
    10% {
    transform: rotateY(180deg) scale(1.2);
    }
    20% {
    transform: rotateY(0deg) scale(1);
    }
    100% {
    transform: rotateY(0deg);
    }
}
.card01 img {
    animation: animatesflipup 5s ease-in-out infinite;
}
.desktophidden {
    display: none;
}
#toast {
  position: fixed;
  top: 40px;
  left: calc(50% - 0px);
  width: 360px;
  transform: translateX(-50%) translateY(20px);
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 9999;
}

#toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

#toast.success {
  background: #2e7d32;
}

#toast.error {
  background: #b71c1c;
}

/* 
    MOBILE RESPONSIVE
*/
@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    h1 {
        font-size: 3.25rem;
    }
    h2 {
        font-size: 3rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    .mobilehidden {
        display: none;
    }
    .desktophidden {
        display: inline-block;
    }
    .lp_button {
        font-size: 1.5rem;
    }
    .s01,
    .s03 {
        padding: 0 1rem;
    }
    .s01 h2 {
        font-size: 2.6rem;
    }
    .s02 {
        margin-top: 0;
    }
    .s03 .cardblock {
        gap: 1rem;
    }
    .s03 .cardblock .card01 img {
        width: 56px;
    }
    .s04 {
        padding: 4rem 1rem;
    }
    .s04 .list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 2rem 0;
    }
    .s04 .list .item,
    .s04 .list .div4 {
        grid-column: auto !important;
        grid-row: auto !important;
    }
    .s04 .list .div7 {
        grid-row: auto !important;
        grid-column: 1 / -1;
        height: fit-content;
        padding: 2rem 0;
    }
    .s04 .list .item {
        padding: 0;
    }
    .s04 .list .div4 {
        display: grid;
        justify-items: center;
    }
    .s04 .list .div4 img {
        height: 240px;
    }
    .s04 .list .div3 {
        border-bottom: 1px solid black !important;
    }
    .s05 {
        padding: 0 1rem;
    }
    .s05 .storelist {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    .s05 .storelist .div5 {
        grid-column: span 2 / span 2;
    }
    .s05 .storelist .div6 {
        grid-column: span 2 / span 2;
        grid-row-start: 4;
    }
    .s05 .storelist .div5 img {
        width: 100%;
    }
    .s05 .storelist .div6 img {
        height: auto;
    }
    .s05 .storelist .card02:nth-child(1),
    .s05 .storelist .card02:nth-child(2),
    .s05 .storelist .card02:nth-child(3),
    .s05 .storelist .card02:nth-child(4) {
        height: fit-content;
    }
    .s06 {
        padding: 3rem 1rem;
    }
    .s06 .cate {
        gap: 3rem;
    }
    .s06 .hozscroll {
        margin-left: 0;
    }
    .s06 .hozscroll img {
        width: 240px;
    }
    .s07 .s0701 {
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }        
    .s07 .s0701 .div1 {
        grid-column: span 2 / span 2;
    }
    .s07 .s0701 .div2 {
        grid-column-start: 3;
        padding: 0 1rem;
    }
    .s07 .s0702 {
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .s08 {
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .card04 {
        gap: 0;
    }
    .card04 strong {
        font-size: 36px;
    }
    .s09 {
        padding: 6rem 1rem;
    }
    
  .s10 .investment-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    padding: 0 1rem;
    margin: 3rem 0;
  }
  .s10 .investment-grid .card {
    grid-column: auto;
    grid-row: auto;
    transform: none !important;
    margin: 0 !important;
    /* height: fit-content; */
    height: auto;
  }
  .s10 .investment-grid .card5 {
     grid-column: span 2 / span 2;
  }
.s11 {
    grid-template-columns: 1fr;
}
.s11 .l {
    padding: 1rem 3rem;
}
.s11 .l ul li h6 {
    padding-left: 4rem;
}
.s11 h4 {
    font-size: 24px;
    text-align: center;
}
.s12 .card-stack-horizontal {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
    margin-top: 0;
}
.card06 {
    padding: 2rem;
}
.s12 .card-stack-horizontal .card:not(:first-child){
    margin-left: 0;
}
.s12 .title {
    margin-bottom: 2rem;
}
.s14 {
    grid-template-columns: 1fr;
}
.s14 .r {
    margin-top: 2rem;
}
.s14 .r ul li h6 {
    padding-left: 4rem;
}
.s15 {
    font-size: 15px;
    grid-template-columns: 1fr;
    margin-bottom: -1rem;
}
.s15 .l {
    padding: 2rem;
}
.s15 .l .action button {
    display: inline-block;
    width: 100%;
}
.s15 .l h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.s15 .r img {
    width: 100%;
}
.s15 .l form .forminput input {
    font-size: 16px;
    width: 100%;
}
#toast {
  top: calc(env(safe-area-inset-top, 0px) + 24px);
}
footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 1rem;
}
footer .box.l {
    grid-column: span 2 / span 2;
    padding: 2rem 0 1rem 0;
}

footer .box.h {
    grid-row-start: 2;
}

footer .box.w {
    grid-row-start: 2;
}

}

